*{margin: 0;box-sizing: border-box;}
#root #top-bar{height: 40px; width: 100%; background-color: rgb(229, 211, 201); display: flex; justify-content: center; align-items: center;}
#top-bar i{font-size: 40px; color: #333;}
#side-nav ul { list-style: none; padding: 0; }
#side-nav li { margin-bottom: 20px; }
#side-nav a { text-decoration: none; color: #333; font-weight: bold; }
h2 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-top: 20px;
}
#root #header h1{
    
  font-family: "Quattrocento", serif;
  text-align: center;
    background-color: #f1c40f;
    color: #fff;
    padding: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin: 5px 0;
    font-size: 1.1em;
}

strong {
    font-weight: bold;
}
#top-bar{font-family: "Quattrocento", serif; font-size: 18px;}
